name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  pypi:
    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/project/mqtt-house

    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: |
            3.11

      - name: Install Hatch
        uses: threeal/pipx-install-action@v2.0.0
        with:
          packages: hatch

      - name: Build the package
        run: |
          hatch build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
